<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/doctorDashboard.css" type="text/css">
        <link rel="icon" href="icon/healthcare1.ico" type="image/x-icon">
    </head>
    <body>
        <header class="top_bar">
            <img src="icon/healthcare1.ico" alt="Logo" class="logo">
            <h1 class="heading">JAMT BD Online Hospital Service</h1>
        </header>
        <main>
            <fieldset>
                <legend>Updating My Info</legend>
                <form id="doctor_form" action="http://127.0.0.1:3500/updatedoc/update/<%=id%>" method="POST" enctype="application/x-www-form-urlencoded">
                        <p>
                            <label for="Dname">Name:</label>
                            <input type="text" name="Dname" id="Dname" value="<%= name %>">
                        </p>
                        <p>
                            <label for="Dage">Age:</label>
                            <input type="number" name="Dage" id="Dage" min="25" max="70" value="<%= age %>">
                        </p>
                        <p>
                            Gender:
                            <input type="radio" name="gender" id="male" value="male" <%= gender === 'male' ? 'checked' : '' %>>
                            <label for="gender">Male</label>
                            <input type="radio" name="gender" id="female" value="female" <%= gender === 'female' ? 'checked' : '' %>>
                            <label for="gender">Female</label>
                            <input type="radio" name="gender" id="other" value="other" <%= gender === 'other' ? 'checked' : '' %>>
                            <label for="gender">Other</label>
                        </p>
                        <p>
                            <label for="Dmobile">Phone number:</label>
                            <input type="tel" name="Dmobile" id="Dmobile" value="<%= mobile %>">
                        </p>
                        <p>
                            <label for="Demail">Email:</label>
                            <input type="email" name="Demail" id="Demail" placeholder="john.gray10@gmail.com" value="<%= email %>">
                        </p>
                        <p>
                            <label for="Specialization">Specialization:</label>
                            <input type="text" name="Specialization" id="Specialization" value="<%= expertise %>">
                        </p>
                    <button type="submit">Submit</button>
                </form>
            </fieldset>
        </main>
        
            
    </body>
</html>